
#navbar{

  position: sticky;
  top: 0px;
  z-index: 10;
}
#navbar .logo{
  margin-left: 20px;
}
.navbar{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
} 
.navbar-nav li{
  padding: 0px 10px;
  
}
.navbar-nav li a{
  color: white !important;
  font-weight: 600; 
  float: right;
  
}
.navbar-toggler{
  color: white !important;
}
.navbar-toggler-icon{
  font-size: 18px;
}
#navbar ul li a:hover { color: rgb(252, 6, 6) !important; 
}
#navbar span .navbar-toggler-icon{
  color: #fff;
}
/*-------banner------------*/

#banner{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
  padding: 5%;
  
}
#banner h1{
  font-size: 30px;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 20px;
}
.play{
  width: 50px;
  margin: 10px;
  margin-left: 18px;
}
#banner a{
  color: #fff;
  text-decoration: none;
}
#banner .img-fluid{
  width: 450px;
  height: 220px;
  margin-top: 100px;
  margin-left: 20px;
}

#services{
  margin-top: 80px;
}
#services .container{
   padding-top: 120px;
}
#services img{
  width: 150px;
  margin-top: 60px;
}
#services h4{
  text-transform: uppercase;
  padding: 5px;
  margin-top: 20px;
}
#services .btn-primary{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  border-radius: 25px;
  border: none;
  padding: 8px 20px;
  box-shadow: none;
}
 #services .title::before{
  content:'';
  background: #7b1798;
  height: 3px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(45px);
}

/*------About us-------------*/

#aboutus{
   margin-top: 80px
}
#aboutus .container{
  padding-top: 120px;
}
#aboutus .title::before{
  content:'';
  background: #7b1798;
  height: 3px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(47px);
}
#aboutus .row{
  margin-top: 50px;
}
#aboutus .para{
  font-size: 40px;
  font-weight: 600px;
  margin-top: 8%;
}
#aboutus ul li{
  margin: 8px 0px;
}
#aboutus ul{
  margin-left: 38px;
}
#aboutus .image-fluid{
  width: 420px;
  height: 220px;
  margin-top: 55px;
  margin-left: 30px;
}

/*---testimonials---*/

#testimonial{
  margin-top: 90px;
}
#testimonial .container{
  padding-top: 130px;
}
#testimonial .title::before{
  content:'';
  background: #7b1798;
  height: 3px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(48px);
}
#testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#testimonial .testimonial{
  border-left: 3px solid #7b1798;
  margin: 10px;
}
#testimonial img, p{
  display: inline-block;
  margin-left: 20px;
}
#testimonial .row{
  margin-top: 100px;
}

/*-----social media-----*/
#social{
  margin-top: 160px;
}
#social .container{
  padding-top: 120px;
}

#social a{
  margin-left: 35px;
}

#social .icons{
  margin-top: 40px;
}
#social .icons a:hover i{
  transform: translateY(-10px);
}
.fa-instagram{
 color: rgb(241, 50, 156);
}

/*----footer section------*/
#footer{
  margin-top: 100px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
}
#footer .container{
  padding-top: 30px;
}
#footer .btn{
  background-color: #7b1798 !important;
  margin-top: 10px;
  border: 1px solid #fff;
  border-radius: 40px;

}
#footer .col-md-3{
  margin: 20px;
  margin-left: 0px;
}
#footer input{
  box-shadow: none !important;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 230px;
  outline: blue;
}




 








